.labelTag {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 4px;
  border-radius: 2px;
  height: 24px;
}

.positive {
  background-color: var(--success-muted);
  color: var(--success-primary);
}

.negative {
  background-color: var(--error-muted);
  color: var(--error-primary);
}

.neutral {
  background-color: var(--background-tertiary);
}

.dottedOutline {
  border-style: dashed;
  border-width: 2px;
  background-color: transparent;
  line-height: 20px;
}

.grayedOut {
  opacity: 0.55 !important;
}

.manualIcon {
  margin-right: 4px;
}
