# CODEOWNERS file for managing repository permissions
# Format: path-pattern @username @org/team-name

# Maintainers, plus ROOST-maintained teams of other trusted contributors
# See https://roostorg.github.io/community/roles.html#maintainers
* @EXBreder @haileyok @vinaysrao1 @roostorg/roosters @roostorg/discord

# Docs contributors
docs/ @roostorg/roosters
