# CODEOWNERS file for managing repository permissions
# Format: path-pattern @username @org/team-name

# Maintainers: Default owners for all files
* @EXBreder @haileyok @vinaysrao1

# Docs contributors
docs/ @roostorg/roosters
