[project]
name = "osprey-worker"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "flask-cors>=6.0.1",
    "osprey_rpc",
]
[project.scripts]
osprey-cli = "osprey.worker.lib.cli:cli"
[project.entry-points."osprey_plugin"]
stdlib = "osprey.worker._stdlibplugin"
